body{
    margin: 0;
}
Header{
    position: fixed;
    width: 100%; 
    top:0px;
    height: 70px;
    display: block;
    justify-content: center;
    background-color: #1F77BC;
    z-index: 1;
    border-radius: 5px;
    font-family: sans-serif;
}
Header nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: auto 1px;
}
Header nav a {
    margin: auto;
    padding: 5px 25px;
    color: white;
    font-size: 20px;
    transition: 0.5s;
    text-decoration: none;
}

Header nav a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 195, 255);
    border-radius: 15px;
}

.warpper{
width: 80%;
border-radius: 20px;
/*background-color: rgba(10, 204, 204, 0.7);*/
display: block;
margin: 20px auto;
padding: 20px;
align-items: center ;
}
#description{
    display: grid;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(2,50%);
    width: 80%;
    margin: 0 auto;
}
#description img{
    height: 200px;
    width: 200px;
}
.Logo{
    width: 35px;
    height: 100%;
    display: block;
    margin: 5px 80px;
    overflow: hidden;
}
.Logo img {
    width: 100%;
    height: 100%;
}

.Vide{
    margin: 150px;
}

.Card {
    margin: 20px auto;
    height: 300px;
    width: 180px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid red;  
    position: relative; 
}
.Card img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.descCard {
    width: 100%;
    height: 100%;
    top: 0;
    right: +100%;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.514);
    backdrop-filter: blur(5px);
    transition: 1s;
    border-radius: 5px;
}
.descCard h3 { 
    text-align: center;
}

.descCard p { 
    margin: 5px 5px;
}
.Card:hover  .descCard {
    right: 0;
}

.Equipe{
    display: grid;
    align-items: center;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: repeat(4,25%);
}
@media  screen and (max-width:1200px) {
    .Equipe{
        grid-template-rows: repeat(4,33%);
        grid-template-columns: repeat(3,33%);
    }

}

@media  screen and (max-width:800px) {
    .Equipe{
        grid-template-rows: repeat(4,25%);
        grid-template-columns: repeat(2,50%);
    }

}

@media  screen and (max-width:500px) {
    .Equipe{
        grid-template-rows: repeat(8,12.5%);
        grid-template-columns: repeat(1,100%);
    }
    .warpper{
        margin: 0px;
    }

}
